[phases.setup]
nixPkgs = ['php82', 'php82Packages.composer', 'nodejs_20', 'sqlite']

[phases.install]
cmds = [
  'composer install --optimize-autoloader --no-dev',
  'npm ci',
  'npm run build'
]

[phases.build]
cmds = [
  'touch database/database.sqlite',
  'php artisan config:cache',
  'php artisan route:cache',
  'php artisan view:cache'
]

[start]
cmd = 'php artisan serve --host=0.0.0.0 --port=$PORT'

[variables]
NIXPACKS_PHP_ROOT_DIR = '/app/public'
NIXPACKS_PHP_FALLBACK_PATH = '/index.php'
